{% extends 'base.html' %}

{% load static %}
{% block content %}
    <header class="d-flex masthead" style="background-image: url({% static 'assets/img/wp2763924-hd-gif-wallpapers.gif' %});">
        <div class="container my-auto text-center">
            <h1 class="mb-1" style="color: rgb(255,255,255);font-size: 47px;">Welcome to</h1>
            <div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc">The </span>
			            <span class="cd-words-wrapper">
			              <b class="is-visible">MTM</b>
			              <b>Real Fun</b>
			              <b>Z</b>
			            </span>
	          		</h1>
				</div><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="{% url 'index' %}#about" style="background-color: rgb(24,115,128);">Find Out More</a>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="about" class="content-section bg-light" style="background-color: rgb(33,103,173);color: rgb(1,18,48);">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>This is a project for the Challenge in the Master the Mainframe contest</h2>
                    <p class="lead mb-5"><span>You could sign up for the learning system and have some fun as well. Apart from the debugging skills you would develop, you would also learn more languages.&nbsp;</span><a href="https://mtm.masterthemainframe.com/">What are you waiting for</a><span>!</span></p>
                    <a
                        class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="https://mtm.masterthemainframe.com/">Register for the Master the Mainframe</a>
                </div>
            </div>
        </div>
    </section>
    <section id="tryout" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0" style="color: rgb(29,128,159);">samples</h3>
                <h2 class="mb-5" style="color: rgb(1,17,50);">LET'S RUN SOME CODE&nbsp;</h2>
                <p style="color: rgb(1,17,50);"><br>Cobol is one of the languages learnt during the Master the mainframe contest. In this try out, you can generate CC numbers and download them. Don't worry IBM's Z could handle millions of them, yhup they're that fast. You could proceed
                    Cobol CC Generator and generate valid Credit Card numbers.<br><br></p>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Cobol CC Generator</h2>
                                <div class="form-group">
                                    <form>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" checked=""><label class="form-check-label" for="formCheck-1">Text File&nbsp;</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Csv/Excel File</label></div><input class="form-control" type="number" placeholder="Kindly enter n0_ of records here"
                                            required=""><button class="btn btn-primary" type="submit">Generate CC Numbers</button></form>
                                </div>
                            </div>
                        </div><img class="img-fluid" src="{% static 'assets/img/datacnter.PNG' %}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Dummy user Details</h2>
                                <p class="mb-0">Work in progress :)</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'assets/img/4019.jpg' %}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Into the Ansibles</h2>
                                <p class="mb-0">Work in progress :)</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'assets/img/4019.jpg' %}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Run some cobol&nbsp;</h2>
                                <p class="mb-0">Work in progress :)</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'assets/img/datacnter.PNG' %}"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
            <h2 class="mb-4">Cobol looks cool right? Let's go for the MTM then</h2><a class="btn btn-light btn-xl mr-4" role="button" href="https://mtm.masterthemainframe.com/">MTM</a><a class="btn btn-dark btn-xl mr-4" role="button" href="#">Run the Cobol again</a></div>
    </section>
    {% endblock %}